
.custom-h5-audio-player {
    background: transparent !important;
    box-shadow: none; 
    color: white; 
    border: none; 
    padding: 0; 
  }
  
  .custom-h5-audio-player .rhap_button-clear {
    color: white; 
  }
  
  
  .custom-h5-audio-player .rhap_volume-container,
  .custom-h5-audio-player .rhap_time,
  .custom-h5-audio-player .rhap_download-progress {
    display: none !important; 
  }
  
  .custom-h5-audio-player .rhap_progress-container {
    width: 90%; 
    padding: 0 0px; 
    display: flex;
    align-items: center;
    margin: 0 0; 
}
  .custom-h5-audio-player .rhap_progress-bar {
    background: rgba(255, 255, 255, 0.2);
    height: 6px; 
    border-radius: 3px;
    overflow: hidden; 
    flex: 1; 
    position: relative;
}
  
  .custom-h5-audio-player .rhap_progress-filled {
    background: white; 
    height: 100%;
  }
  
  .custom-h5-audio-player .rhap_progress-indicator {
    background: white; 
    width: 12px; 
    height: 12px;
    border-radius: 50%; 
    position: absolute; 
    top: 50%;
    transform: translate(-50%, -50%); 
  }
  
  
  .custom-h5-audio-player .rhap_main-controls-button {
    font-size: 24px; 
  
  .custom-h5-audio-player .rhap_time {
    display: block;
    color: white; 
    font-size: 12px; 
    text-align: center; 
    margin-top: 5px; 
}

.custom-h5-audio-player .rhap_progress-container {
    width: 90%; 
    padding: 0 5px; 
    display: flex;
    align-items: center; 
    margin: 0 auto; 
    flex-direction: column; 
}

.custom-h5-audio-player .rhap_progress-bar {
    background: rgba(255, 255, 255, 0.2); 
    height: 6px; 
    border-radius: 3px; 
    overflow: hidden; 
    flex: 1; 
    position: relative;
}
