/* ExperienceItem.css */

.experience-item {
    position: relative;
    padding-left: 2rem; /* equivalent to pl-8 */
    margin-bottom: 2rem; /* equivalent to mb-8 */
    transition: transform 0.3s ease-in-out;
  }
  
  .experience-item:hover {
    cursor: url('/images/cursor.png'), auto;
    transform: scale(1.05);
    

  }
  
  .experience-item .timeline-dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem; /* equivalent to w-4 */
    height: 1rem; /* equivalent to h-4 */
    background-color: white;
    border-radius: 50%; /* equivalent to rounded-full */
  }
  
  .experience-item .vertical-line {
    position: absolute;
    left: 0.375rem; /* equivalent to left-1.5 */
    top: 0;
    width: 0.125rem; /* equivalent to w-0.5 */
    height: 100%; /* equivalent to h-full */
    background-color: white;
  }
