.project-card {
    position: relative;
    width: 300px;  
    height: auto;
    min-height: 350px;  
    background-color: white;  
  }
  
  .project-card-image {
    transition: opacity 0.3s ease-in-out;
  }
  
  .project-card-content {
    position: relative;  
  }
  
  .project-card-hover-content {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: white;  /* Explicit white background */
  }
  
  .project-card:hover .project-card-hover-content {
    opacity: 1;
  }
  
  .project-card:hover .project-card-image {
    opacity: 0;  /* Hides the image on hover */
  }
  
  
  
