.binary-stream-container {
    overflow: hidden; 
    white-space: nowrap;
    width: 100%;
    height: 50vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: ; 
  }
  

  .binary-stream {
    display: inline-block;
    font-family: 'Courier New', monospace; 
    font-size: 24px; 
    color: white; 
    opacity: 5%;
    margin: 1px 0;
  }
  
