@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default custom cursor */
html {
  cursor: pointer;
  }

  h1 {
    font: font-extrabold;
  }
  
  /* Custom cursor on hover */
  a, button, .hover-element {
    cursor: pointer;
  }

  header {
    cursor: pointer;
  }
  